/* general page styles */
* {
    font-family: 'Hind Siliguri', sans-serif;
}
.page-content, .table {
    background-color: black;
    color: white;
    font-size: 12px;
}
.container {
    padding-top: 30px;
}
hr{
    margin: 40px;
}
/* navigation styles */

nav, footer {
    background-color: #9CF7ED;
    color: black;
}
nav {
    text-transform: uppercase;
}
ul {
    list-style: none;
    }
/* head banner styles */
.head-banner {
    background-image: url(resources/pkew-banner.png);
    background-size: cover;
    width: 100%;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 6rem;
    text-shadow: 4px 2px #9CF7ED;
    margin: 60px 0px;
}
h2{
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.2rem;
    margin-bottom: 25px;
}

button {
    text-align: center;
    background-color: #9CF7ED;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: .10rem;
    font-size: 0.8rem;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    border:1px solid #9CF7ED;
}
button:hover {
    background-color:black;
    color:#9CF7ED;
    border: 1px solid #9CF7ED;
    cursor: pointer;
    transition: 0.2s ease-in;
}
.fa {  
   font-size: 15px;
    padding: 5px;
    margin: 25px 10px;
    text-decoration: none;
    color:black;
    border-radius: 50%; 
    background-color: #9CF7ED;
    
  }
  .fa:hover {
    background-color:black;
    color: #9CF7ED;
}
.fa-facebook {
    padding: 5px 9px !important;
}
hr{
    color: 2px solid white;
    opacity: 100%;
}
/* video Styles */
.video {
    max-width: 700px;
}
/* call to action content styles */
.call-to-action-content {
    height: 200px;
    padding: 20px 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    letter-spacing:0.1rem;
    animation: fade-slide-up .5s 1s ease-out forwards;
    opacity: 0; 
    position: relative;
}
.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    position: absolute;
}
  
.call-to-action-content:hover .overlay {
    opacity: 1;
}

.accent{
    color:#9CF7ED;
}
/* table styles */
.soldout {
    color: red;
    text-decoration: line-through;
    font-style: italic;
}
.ticket-link{
    border: 1px solid white;
    padding: 2px;
    text-decoration: none;
}

.ticket-link:visited {
    color:white;
}
.ticket-link:hover{
    border: 1px solid #9CF7ED;
    color: #9CF7ED;
}
/* contact styles */
.contact-head{
    margin-bottom: 30px;
}
.contact {
    line-height: 1px;
    font-size: 12px;
}
.contact-item {
    padding: 10px 10px;
}
footer {
    padding-bottom: 20px;
}

/*keyframes*/
@keyframes fade-slide-up {
    0% {
        opacity: 0;
        transform: translateY(4em);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
/* Media Queries */
@media only screen and (max-width: 600px) {
    h1{
        font-size: 5rem;
    }

}


